{# file: base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Integration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{# Body block where child views will appear #}
{% block body %}{% endblock %}

<script src="{{ asset('build/app.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
