<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div class="box-layout box-layout--sf-background">
        <div class="box-layout__box">
            <h1 class="box-layout__title">Data Integration</h1>
            <button class="app-button" id="salesforce-connect">Connect With SalesForce</button>
        </div>
    </div>

</body>
</html>
