{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="link-top-right">
        <a href="{{ path('logout') }}"><button class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>
    </div>
    <div class="box-layout box-layout--sync-background">
        <div class="box-layout__box box-layout__box--sync">
            <h1 class="box-layout__title">Data Integration</h1>
            <p>Please select date range and click to sync salesforce account with quickbooks</p>
            <form class="sync-data-form" action="#">
                <div class="box-layout__box__input">
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>                </div>
                <button class="app-button" id="sync-data" type="submit">Sync Data</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% for message in app.flashes('quickbooks_connect_success') %}
        <script>
        Swal.fire({
        text: '{{ message }}',
        type: 'success',
        timer: 1500,
        position: "top"
        });
        </script>
    {% endfor %}
    {% if updated == '1' %}
        <script>
            Swal.fire({
                text: 'Sync Successful',
                type: 'success',
                timer: 2000,
                position: "top"
            });
        </script>
    {% endif %}
{% endblock %}
