<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>
<body>
<div class="box-layout box-layout--sync-background">
    <div class="box-layout__box">
        <h1 class="box-layout__title">Data Integration</h1>
        <p>Please click to sync salesforce account with quickbooks</p>
        <button class="button" id="sync-data">Sync Data</button>
    </div>
</div>

</body>
</html>
