<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>

    {% endblock %}
    {% block javascripts %}
        {% if updated == '1' %}
            <script>alert('Data Sync was successful.');</script>
        {% endif %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div class="link-top-right">
        <a href="{{ path('logout') }}"><button>Logout</button></a>
    </div>
    <div class="box-layout box-layout--sync-background">
        <div class="box-layout__box box-layout__box--sync">
            <h1 class="box-layout__title">Data Integration</h1>
            <p>Please select date range and click to sync salesforce account with quickbooks</p>
            <form class="sync-data-form" action="#">
                <div class="box-layout__box__input">
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>                </div>
                <button class="app-button" id="sync-data" type="submit">Sync Data</button>
            </form>
        </div>
    </div>
</body>
</html>
