{% extends '@App/Security/layout.html.twig' %}
{% set page_title = 'Create Account' %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-3">
            <h1>Register</h1>
            <form method="post" action="#" id="needs-validation-for-register" novalidate>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                </div>
                <input class="form-control" type="text" name="username" placeholder="Username" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input class="form-control" type="text" name="email" placeholder="Email" required>
              </div>
              <p class="text-muted">Please enter your SalesForce Account Details</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                </div>
                <input class="form-control" type="text" name="sf_account_id" placeholder="SFAccountId" required>
                <input class="form-control" type="text" name="sf_client_id" placeholder="SFClientId" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                </div>
                <input class="form-control" type="text" name="sf_client_secret" placeholder="SFClientSecret" required>
                <input class="form-control" type="text" name="sf_redirect_uri" placeholder="SFRedirectURI" required>
              </div>
              <p class="text-muted">Please enter your Quickbooks Account Details</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                </div>
                <input class="form-control" type="text" name="qb_client_id" placeholder="QBClientId" required>
                <input class="form-control" type="text" name="qb_client_secret" placeholder="QBClientSecret" required>
                <input class="form-control" type="text" name="qb_redirect_uri" placeholder="QBRedirectURI" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input class="form-control" id="password" type="password" name="password" placeholder="Password" required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input class="form-control" type="password" name="confirmPassword" placeholder="Repeat password" required>
              </div>
              <button class="btn btn-block btn-success" type="submit">Create Account</button>
            </form>
            <p style="margin-top: 5px; margin-bottom: 5px;">
              <span class="text-muted">Already Have an Account. Click Here</span>
              <a href="{{ path('user_login') }}">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
